<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="User" verbose="1" >

    <test name="User">
        <classes>
            <class name="ru.company.qa2.tests.LoginTests"/>
            <class name="ru.company.qa2.tests.CreateAccountTest">
                <methods>
                    <exclude name=".*Positive.*" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
